<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="kalkulator">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Kalkulator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="catatan">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Catatan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="riwayat">
      <ion-icon name="time"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info-aplikasi">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Info Aplikasi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
